DATABASE_URL=postgresql://spurro:spurro@localhost:5432/spurro

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:4000

ADMIN_EMAIL=
ADMIN_NAME=Admin

DOMAIN_NAME=
IP=
# Country as ISO 3166-1 alpha-2 code, e.g. NL
COUNTRY=NL
